@{
    ViewBag.Title = "Admin Page";
}


<div>
    <h1>Admin Page</h1>
    <h2>Hello @ViewBag.Name</h2>
    <div class="container">

        <a class="btn btn-dark" asp-controller="Book" asp-action="Index">Book List</a>
        <a class="btn btn-dark ms-2" asp-controller="BookTransaction" asp-action="IssueBook">
            <i class="bi bi-book"></i> Issue New Book
        </a>
        <a class="btn btn-dark" asp-controller="BookTransaction" asp-action="Index">
            <i class="bi bi-book"></i> Book Transaction List
        </a>
        <a class="btn btn-dark" asp-controller="Book" asp-action="GetAllCategories">Category List</a>
        <a class="btn btn-dark" asp-controller="Book" asp-action="CreateCategory">Create New Category</a>
    </div>

</div>
