
@{
    ViewBag.Title = "Super Admin Home Page";
}

<div class="container">

    <h1>Super Admin Page</h1>
    <h2>Hello @ViewBag.Name</h2>

    <a class="btn btn-dark" asp-controller="Account" asp-action="Register">Register New User</a>
    <a class="btn btn-dark" asp-controller="SuperAdmin" asp-action="AdminUsers">Admin Users</a>
    <a class="btn btn-dark" asp-controller="Book" asp-action="Index">Book List</a>
    <a class="btn btn-dark" asp-controller="Book" asp-action="GetAllCategories">Category List</a>
    <a class="btn btn-dark" asp-controller="Book" asp-action="CreateCategory">Create New Category</a>
</div>
