
@{
    ViewBag.Title = "Super Admin Home Page";
}

<div class="container">
    <a class="btn btn-dark" asp-controller="Account" asp-action="Register">Register New User</a>
    <a class="btn btn-dark" asp-controller="Book" asp-action="Index">Book List</a>
    <a class="btn btn-dark" asp-controller="Book" asp-action="CreateCategory">Create New Category</a>
</div>
