@model List<LibraryManagementSystem.Web.Models.ViewModel.CategoryViewModel>;
@{
    ViewBag.Title = "All Categories";
}

<div class="container">

    <h2>All Category List</h2>
    @{
        int index = 1;
    }
    @foreach (var cateogryViewModel in Model)
    {
        <h3>@index.  @cateogryViewModel.Name</h3>

        index++;

    }

</div>