@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Library Management System Project, built on .NET 8</p>
    <p>Other packages used for this project are: Auto Mapper, Entity Framework Core, Identity etc...</p>
</div>
